.example {
  background-color: #f2f2f2;
  padding: 30px 20px; }

.example__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px; }

.example__description {
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444; }

.example__achievment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.example__achievment-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 60px;
  margin-bottom: 35px;
  border: 1px solid #cdcdcd; }

.example__achievment-number {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase; }

.example__achievment-desc {
  position: absolute;
  top: 50px;
  z-index: 10;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  width: 60px;
  padding: 0 15px;
  background-color: #f2f2f2; }

.example__expenses {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center; }

.example__cat-image {
  margin-left: -20px;
  margin-bottom: 30px;
  width: 320px;
  height: 240px; }

.example__slider {
  text-align: center;
  margin: 0 auto; }

.example__cat-image-tablet {
  display: none; }

@media (min-width: 768px) {
  .example {
    padding: 50px 30px 70px 30px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 52.5%, #f2f2f2 52.5%); }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px; }
  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px; }
  .example__achievment-desc {
    background-color: #ffffff; }
  .example__achievment-wrapper {
    margin-right: 30px; }
  .example__expenses {
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    margin: 0; }
  .example__expenses-price {
    display: block; }
  .example__cat {
    box-sizing: border-box;
    width: 768px;
    margin-left: -30px;
    background-color: #f2f2f2; }
  .example__cat-image {
    display: none; }
  .example__cat-image-tablet {
    display: block; }
  .example__desktop-cat {
    display: flex; } }

@media (min-width: 1440px) {
  .example {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 110px;
    padding-right: 110px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 35%, #f2f2f2 35%); }
  .example__title {
    margin-bottom: 150px; }
  .example__achievment {
    flex-wrap: wrap;
    width: 365px; }
  .example__achievment-wrapper {
    width: 162px;
    height: 72px;
    margin: 0;
    margin-bottom: 60px; }
  .example__achievment-number {
    font-size: 30px; }
  .example__achievment-desc {
    top: 65px;
    font-size: 14px;
    padding: 0 10px;
    width: auto;
    background-color: #f2f2f2; }
  .example__expenses {
    text-align: left;
    flex-grow: 1;
    width: 100%; }
  .example__expenses-price {
    display: inline;
    margin-left: 65px; }
  .example__description {
    width: 435px;
    margin-bottom: 70px; } }
