.footer {
  padding: 0 20px;
  text-align: center;
  background-color: #f2f2f2; }

.footer__logo {
  margin-top: 30px;
  margin-bottom: 20px; }

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 75px;
  box-sizing: border-box;
  width: 280px;
  height: 65px;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9; }

.footer__creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; }

.footer__creator-author {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444444; }

@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 30px; }
  .footer__social-list {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
    border: none; }
  .footer__social-item {
    margin: 0 15px; }
  .footer__creator-logo {
    margin-left: 20px; }
  .footer__social-vk {
    width: 30px;
    height: 16px; }
  .footer__social-inst {
    width: 23px;
    height: 23px; }
  .footer__social-fb {
    width: 14px;
    height: 28px; } }

@media (min-width: 1440px) {
  .footer {
    padding: 0 110px; } }
