.header {
  box-sizing: border-box;
  width: 320px;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  line-height: 20px; }

.header__logo {
  width: 33px;
  height: 38px; }

.header__menu {
  box-sizing: border-box;
  height: 65px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6; }

.header__nav-item {
  display: block;
  height: 65px;
  text-align: center;
  line-height: 65px;
  border-bottom: 1px solid #e6e6e6;
  text-decoration: none;
  color: #111111;
  cursor: pointer; }

.header__nav-item:link {
  color: #111111;
  opacity: 1; }

.header__nav-item:hover {
  opacity: 0.6; }

.header__nav-item:active {
  opacity: 0.3; }

.header__logo:hover {
  opacity: 0.8; }

.header__logo:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding: 25px 30px;
    font-weight: 400px;
    color: #000000; }
  .header__title {
    display: none; }
  .header__menu {
    border: none; }
  .header__open-menu-btn {
    display: none; }
  .header__close-menu-btn {
    display: none; }
  .header__logo {
    width: 173px;
    height: 58px;
    margin-right: 15px; }
  .header__nav-item {
    border: none;
    margin-left: 30px;
    font-weight: 400;
    font-size: 18px; }
  .header__nav {
    display: flex; }
  .header__menu {
    justify-content: flex-start; }
  .header .header__nav-item--active {
    height: 50px;
    border-bottom: 2px solid #68b738; }
  .header--white .header__nav-item--active {
    height: 50px;
    border-bottom: 2px solid #ffffff; } }

@media (min-width: 1440px) {
  .header {
    padding: 55px 110px;
    width: 1440px;
    background-color: transparent; }
  .header__logo {
    width: 202px;
    height: 59px; }
  .header--white .header__nav-item {
    color: #ffffff;
    font-size: 20px; }
  .header--white .header__nav-item:link {
    color: #ffffff; }
  .header--white .header__nav-item:hover {
    color: #ffffff;
    opacity: 0.6; }
  .header--white .header__nav-item:active {
    color: #ffffff;
    opacity: 0.3; } }
