body {
  background-color: yellow;
  width: 320px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}

.header {
  box-sizing: border-box;
  width: 320px;

  background-color: #ffffff;

  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  line-height: 20px;
}

.header__menu {
  box-sizing: border-box;
  height: 65px;
  padding: 0 20px;


  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e6e6e6;
}

.header__nav-item {
  display: block;
  height: 65px;

  text-align: center;
  line-height: 65px;

  border-bottom: 1px solid #e6e6e6;
  text-decoration: none;
  color: #111111;
}

.visually-hidden {
  display: none;
}
