@media (min-width: 768px) {
  .program {
    padding: 30px 30px 70px 30px;
  }

  .program__title {
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  .program__form {
    padding: 0 35px;
  }

  .program__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }

  .program__form-item {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
  }

  .program__input {
    margin-left: 15px;
    height: 50px;

    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .program__types {
    box-sizing: border-box;

    margin: 75px 0;
    min-height: 196px;
    width: 100%;

    border: 1px solid #e6e6e6;

  }

  .program__type {
    font-size: 20px;
    line-height: 20px;
  }

  .program__radio {
    width: 40px;
    height: 40px;
  }

  .program__type input[type="radio"]:checked + .program__radio::after{
    width: 18px;
    height: 18px;
  }

  .program__form-title--long {
    &::after {
      margin-bottom: 0;
    }
  }

  .program__form-title {
    margin-left: -64px;
    margin-bottom: 70px;
    width: 768px;
    font-size: 36px;
    line-height: 36px;

    &::after {
      content: "";
      flex-grow: 1;
      margin-left: 40px;
      margin-top: 10px;
      height: 3px;
      background-color: #68b738;
    }
    &::before {
      content: "";
      flex-grow: 1;
      margin-right: 40px;
      margin-top: 10px;
      height: 3px;
      background-color: #68b738;
    }
  }

  .program__word-wrapper {
    display: none;
  }

  .program__message {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  .program__additional-info {
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 120px;
  }

  .program__checkbox {
    width: 40px;
    height: 40px;
  }

  .program__product-item {
    width: 280px;
    font-size: 20px;
    line-height: 20px;
  }

  .program__button {
    width: 285px;
    padding: 0;
  }

  .program__footnote {
    display: inline;
    margin-left: 60px;
  }
}

@media (min-width: 1440px) {

  .page__wrapper--white {
    background-image: none;
  }

  .header__nav-item--black {
    color: #000000;
  }

  .program {
    padding: 30px 110px 70px 110px;
  }

  .program__form {
    padding: 0;
  }

  .program__cat-info {
    width: 570px;
  }

  .program__types {
    width: 570px;
    margin: 0;
  }

  .program__form-item {
    width: 570px;
  }

  .program__flex-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .program__product-item {
    width: 245px;
    margin: 0;
  }

  .program__form-title {
    margin-left: -110px;
    width: 1440px;
  }

  .program__button {
    font-size: 20px;
    line-height: 20px;
    width: 568px;
    height: 52px;
  }

  .program__footnote {
    font-size: 16px;
    line-height: 16px;
    margin-left: 80px;
  }
}
